<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "Floatie" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="flex flex-row justify-between items-center p-8 text-xl">
      <a href={~p"/"} class="text-3xl font-semibold italic">Floatie</a>
      <ul class="flex flex-row space-x-4">
       <%= if @current_user do %>
          <li>
            <%= Floatie.Accounts.truncate_address(@current_user.eth_address) %>
          </li>
      <% end %>
        <li>
          <.link href={~p"/app"} class="btn">
            App
          </.link>
        </li>
        <li>
          <.link href={~p"/bank"} class="btn">
            Bank
          </.link>
        </li>
        <li>
          <.link href={~p"/sets"} class="btn">
            Sets
          </.link>
        </li>
        <%= if @current_user do %>
          <li>
            <.link href={~p"/users/settings"} class="btn">
              Settings
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_out"} method="delete" class="btn">
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <%= live_render(@conn, FloatieWeb.WalletLive,
              id: "connect",
              session: %{"id" => "metamask-login"}
            ) %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= @inner_content %>
  </body>
</html>
